<!doctype html>
<html>

<title> Overview </title>

<head>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='style/bootstrap/js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/theme.css') }}">
    
    <script>
        var current_data = '{{ current[0] }}';
        var daily_forecast = '{{ daily_forecast }}'
        console.log(daily_forecast);
    </script>
</head>

<body>
<header>
</header>
<div class="container-fluid mt-2">
    <section class="my-1 p-2 col-md-4">
        <div class="card">

            <div class="card-body">
                <div class="mb-2">
                    <h4 class="card-title mb-0">{{ current[0]['city'] }}, {{ current[0]['region'] }}</h4>
                    <small class="text-secondary">Updated: {{ current[0]['datetime'] }} </small>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h1 class="mb-0"> {{ current[0]['temperature'] }}<span>&#176</span>C </h1>
                        <small class="text-secondary">Feels like {{ current[0]['feels_like'] }}<span>&#176</span>C </small>
                        <h6> {{ current[0]['condition_description'] }} </h6>
                    </div>
                    <div class="col-6">
                        <img src=" {{ url_for('static', filename='icon/' + current[0]['icon_code'] + '@4x.png') }}" width="120" height="120" />
                    </div>     
                </div>

                
                <div class="row"> 
                    <div class="col-6">
                        <small class="text-secondary">Sunrise</small>
                        <p >{{ daily_forecast[0]['sunrise'] }}</p> 
                    </div>
                    <div class="col-6">
                        <small class="text-secondary">Sunset</small>            
                        <p> {{ daily_forecast[0]['sunset'] }}</p> 
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-6">
                        <small class="text-secondary">Pressure</small>
                        <p >{{ current[0]['pressure'] }}hPa</p> 
                    </div>
                    <div class="col-6">
                        <small class="text-secondary">Humidity</small>            
                        <p> {{ current[0]['humidity'] }}%</p> 
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-6">
                        <small class="text-secondary">Wind Speed</small>
                        <p >{{ current[0]['wind_speed'] }}km/h
                            <span style="display: inline-block;transform: rotate({{ current[0]['wind_direction'] }}deg);"> 
                                &#11165; 
                            </span>  
                        </p> 
                    </div>
                    <div class="col-6">
                        <small class="text-secondary">Visibility</small>
                        <p >{{ current[0]['visibility'] }}m</p> 
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-6">
                        <small class="text-secondary">Cloud cover</small>
                        <p >{{ current[0]['clouds'] }}%</p> 
                    </div>
                    <div class="col-6">
                        <small class="text-secondary">UV Index</small>            
                        <p> {{ current[0]['uvi'] }}</p> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="col-md-8"></section>

    <!-- hourly -->
    <div class="container-fluid">
        <div class="row flex-row flex-nowrap weather-48">
            {% for item in hourly_forecast %}
                <div class="inline-block mx-2"> 
                    <div class="">{{ item['ampmhour'] }}</div>
                    <div class="">
                        <img src=" {{ url_for('static', filename='icon/' + item['icon_code'] + '@4x.png') }}" width="50" height="50" />
                    </div>
                    {% if item['probability_of_precipitation'] > 0 %}
                        <div class=" text-primary">{{ item['probability_of_precipitation'] }}% </div>
                    {% else %}
                        <div class=""></div>
                    {% endif %}
                    <div class="">{{ item['temperature'] }} <span>&#176</span>C </div>
                </div> 
            {% endfor %}
        </div>
    </div>

    <!-- daily -->
    <ul>
        {% for item in daily_forecast %}
            <hr/>
            <li class="row">
                <div class="col-4">{{ item['day_of_week'] }}</div>
                <div class="col">
                    <img src=" {{ url_for('static', filename='icon/' + item['icon_code'] + '@4x.png') }}" width="50" height="50" />
                    {% if item['probability_of_precipitation'] > 0 %}
                        <span class="text-primary">{{ item['probability_of_precipitation'] }}%</span>
                    {% endif %}
                    {% if item['rain_mm'] > 0 %}
                        <span class="text-primary">{{ item['rain_mm'] }}mm </span>
                    {% endif %}
                    {% if item['snow_mm'] > 0 %}
                        <span class="text-info">{{ item['snow_mm'] }}cm </span>
                    {% endif %}
                </div>
                
                <div class="col">{{ item['max_temp'] }} <span>&#176</span>C </div>
                <div class="col text-secondary">{{ item['min_temp'] }} <span>&#176</span>C </div>
                
            </li>
        {% endfor %}
    </ul>

</div>
</body>

</html>
